* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #333;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sección de Jugadores */
.jugadores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.jugador {
    width: 45%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pokemon-lista {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.pokemon img:hover {
    cursor: pointer;
    border: 4px solid #555;
}

.pokemon p {
    font-size: 1rem;
    color: #333;
}

/* Sección de Combate */
.combate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.pokemon-grande {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.pokemon-grande img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #555;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pantalla de Movimientos */
.pantalla-movimientos {
    width: 50%;
    background-color: #e2e2e2;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#movimientos {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

/* Sección de Acciones */
.acciones {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    outline: none;
}

button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

/* Adaptabilidad a pantallas más pequeñas */
@media (max-width: 768px) {
    .jugadores {
        flex-direction: column;
        align-items: center;
    }

    .jugador {
        width: 90%;
        margin-bottom: 20px;
    }

    .combate {
        flex-direction: column;
    }

    .pokemon-grande {
        width: 80%;
        margin-bottom: 20px;
    }

    .acciones {
        width: 80%;
    }
}
