/* index.css */

/* General */
body {
  font-family: 'Arial', sans-serif;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
}



.contenedor-principal {
  position: relative;
  background-image: url('img/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.contenedor-principal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.contenedor-principal > * {
  position: relative;
  z-index: 2;
}

.jugador {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.jugador h2 {
  font-size: 1.5rem;
  color: #ffcb05;
  margin-bottom: 10px;
}

.pokemones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.pokemon {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pokemon:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pokemon:hover {
  transform: scale(1.1);
}

.imagen-pokemon {
  background-color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #ffcb05;

}

#seleccionado-1,
#seleccionado-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-seleccionado {
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 3px solid #ffcb05;
}

.vida {
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
  border: 3px solid #ffcb05;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2a75bb;
}

#texto-vida1, #texto-vida2 {
  text-align: center;
  font-size: 1.2rem;
  color: #2a75bb;
  margin-bottom: 0px;

}

.progreso {
  flex: 1; 
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.barra-progreso {
  height: 100%;
}

.boton {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #c0cec0;
  color: #2a75bb;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.boton:enabled {
  cursor: pointer;
  background-color: #ffcb05;
}

.boton:enabled:hover {
  background-color: #e6ba0d;
}

/* Información del combate */
.informacion-combate {
  height: 240px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid #ffcb05;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

#mensaje-combate {
  height: 120px;
  font-size: 1.2rem;
  color: #2a75bb;
  margin-bottom: 0px;
}

/* Botones de control */
.texto-centro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto-centro .iniciar,
.texto-centro .reiniciar {
  padding: 10px 20px;
  background-color: #ffcb05;
  color: #2a75bb;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.texto-centro .iniciar:hover,
.texto-centro .reiniciar:hover {
  background-color: #e6ba0d; /* Amarillo */
}

.titulo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffcb05;
  z-index: 3;
}
